
.center { display: flex;
    margin: 0 auto; justify-content: center;   white-space: nowrap ;}

  .color { background-color: #66ccff}
 
  .margin_outside { margin:0.5rem}
  .background {background-color: #f2f2f2}
  .border {border: 0.05rem solid black}
  
  
  
  /* Modal Content */
  .modal-content11 {
    display:none;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 10px solid #888;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
   

  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .hide {display:none}

  .width {width:100%; height: 30%}